 <!-- Modal Editar Experiencia-->
 <div class="modal fade" id="editarExperienciaModal" tabindex="-1" aria-labelledby="editarExperienciaModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarExperienciaModal">Editar Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlExperienciaPuesto" class="form-label">Puesto</label>
            <textarea class="form-control" id="exampleFormControlExperienciaPuesto" rows="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputFecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="exampleInputFecha">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlExperienciaDescripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlExperienciaDescripcion" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Eliminar Experiencia-->
  <div class="modal fade" id="eliminarExperienciaModal" tabindex="-1" aria-labelledby="eliminarExperienciaModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Eliminar Experiencia?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Agregar Experiencia-->
  <div class="modal fade" id="agregarExperienciaModal" tabindex="-1" aria-labelledby="agregarExperienciaModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarExperienciaModal">Agregar Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlExperienciaPuesto" class="form-label">Puesto</label>
            <textarea class="form-control" id="exampleFormControlExperienciaPuesto" rows="1"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputFecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="exampleInputFecha">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlExperienciaDescripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlExperienciaDescripcion" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>
