  <!-- Modal Editar Redes-->
  <div class="modal fade" id="editarRedesModal" tabindex="-1" aria-labelledby="editarRedesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="editarRedesModal">Editar Red Social</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleInputRedSocial" class="form-label">url</label>
          <input type="url" placeholder="inserte url" id="exampleInputRedSocial">
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn">Guardar</button>
      </div>
    </div>
    </div>
    </div> 
    <!-- Modal Eliminar Redes-->
    <div class="modal fade" id="eliminarRedesModal" tabindex="-1" aria-labelledby="eliminarRedesModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Eliminar Red Social?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Agregar Redes-->
    <div class="modal fade" id="agregarRedesModal" tabindex="-1" aria-labelledby="agregarRedesModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarRedesModal"> Agregar Red Social</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputRedSocial" class="form-label">url</label>
            <input type="url" placeholder="inserte url" id="exampleInputRedSocial">
          </div>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
      </div>
      </div> 
