  <!-- Modal contacto -->
  <div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactoModalLabel">Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleFormControlContactoNombre" class="form-label">Nombre y Apellido</label>
              <textarea class="form-control" id="exampleFormControlContactoNombre" rows="1"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmailContacto" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmailContacto" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlContactoMensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="exampleFormControlContactoMensaje" rows="3"></textarea>
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn">Enviar</button>
        </div>
      </div>
    </div>
  </div>
