   <!-- Modal Editar Habilidades-->      
   <div class="modal fade" id="editarHabilidadModal" tabindex="-1" aria-labelledby="editarHabilidadModal" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarHabilidadModal">Editar Habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlHabilidadNombre" class="form-label">Nombre Habilidad</label>
            <textarea class="form-control" id="exampleFormControlHabilidadNombre" rows="1"></textarea>
          </div>
           <div class="mb-3">
            <label for="exampleFormControlHabilidadPorcentaje" class="form-label">Porcentaje</label>
            <textarea class="form-control" id="exampleFormControlHabilidadPorcentaje" rows="1"></textarea>
          </div>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>  
  <!-- Modal Eliminar Habilidades-->      
  <div class="modal fade" id="eliminarHabilidadModal" tabindex="-1" aria-labelledby="eliminarHabilidadModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Eliminar Habilidad?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Modal Agregar Habilidades-->      
   <div class="modal fade" id="agregarHabilidadModal" tabindex="-1" aria-labelledby="agregarHabilidadModal" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarHabilidadModal">Agregar Habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlHabilidadNombre" class="form-label">Nombre Habilidad</label>
            <textarea class="form-control" id="exampleFormControlHabilidadNombre" rows="1"></textarea>
          </div> 
           <div class="mb-3">
            <label for="exampleFormControlHabilidadPorcentaje" class="form-label">Porcentaje</label>
            <textarea class="form-control" id="exampleFormControlHabilidadPorcentaje" rows="1"></textarea>
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
  </div> 
