  <!-- Modal Editar Banner-->      
  <div class="modal fade" id="editarBannerModal" tabindex="-1" aria-labelledby="editarBannerModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarBannerModal">Banner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputBanner" class="form-label">Banner</label>
            <input type="url" placeholder="inserte url imagen" id="exampleInputBanner">
          </div>
          <div class="mb-3">
            <label for="exampleNombre" class="form-label">Nombre</label>
            <textarea class="form-control" id="exampleNombre" rows="1"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>  
  <!-- Modal Eliminar Banner-->      
  <div class="modal fade" id="eliminarBannerModal" tabindex="-1" aria-labelledby="eliminarBannerModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Eliminar Banner?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal Editar Sobre Mi-->
  <div class="modal fade" id="editarSobreMiModal" tabindex="-1" aria-labelledby="editarSobreMiModal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editarSobreMiModal">Sobre Mi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputImgPerfil" class="form-label">Imagen</label>
              <input type="url" placeholder="inserte url imagen" id="exampleInputImgPerfil">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlSobreMi" class="form-label">Descripcion</label>
              <textarea class="form-control" id="exampleFormControlSobreMi" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Modal Eliminar Sobre Mi-->
  <div class="modal fade" id="eliminarImgPerfilModal" tabindex="-1" aria-labelledby="eliminarImgPerfilModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Eliminar Imagen de Perfil?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
