 
  <!-- Modal Editar Educacion-->
  <div class="modal fade" id="editarEducacionModal" tabindex="-1" aria-labelledby="editarEducacionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarEducacionModal">Editar Educacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlEducacionInstitucion" class="form-label">Institucion</label>
            <textarea class="form-control" id="exampleFormControlEducacionInstitucion" rows="1"></textarea>
          </div>
            <div class="mb-3">
              <label for="exampleFormControlEducacionFecha" class="form-label">Fecha</label>
              <textarea class="form-control" id="exampleFormControlEducacionFecha" rows="1"></textarea>
            </div>
          <div class="mb-3">
            <label for="exampleFormControlEducacionDescripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlEducacionDescripcion" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn">Guardar</button>
        </div>
      </div>
    </div>
</div> 
 <!-- Modal Eliminar Educacion-->
 <div class="modal fade" id="eliminarEducacionModal" tabindex="-1" aria-labelledby="eliminarEducacionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Eliminar Educacion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Agregar Educacion-->
<div class="modal fade" id="agregarEducacionModal" tabindex="-1" aria-labelledby="agregarEducacionModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarEducacionModal">Agregar Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlEducacionInstitucion" class="form-label">Institucion</label>
          <textarea class="form-control" id="exampleFormControlEducacionInstitucion" rows="1"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlEducacionFecha" class="form-label">Fecha</label>
          <textarea class="form-control" id="exampleFormControlEducacionFecha" rows="1"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlEducacionDescripcion" class="form-label">Descripcion</label>
          <textarea class="form-control" id="exampleFormControlEducacionDescripcion" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn">Guardar</button>
      </div>
    </div>
  </div>
</div> 
